
[solution]
InversionSolution = SW52ZXJzaW9uU29sdXRpb246MTE4MTIuMHF5Q243

[Meta]
round = 0
config_type = subduction
rupture_set_file_id = RmlsZTo3MTQ3LjVramh3Rg==
completion_energy = 0.0
max_inversion_time = 30
mfd_equality_weight = 0
mfd_inequality_weight = 0
slip_rate_weighting_type = BOTH
slip_rate_normalized_weight = 1e4
slip_rate_unnormalized_weight = 1e5
mfd_mag_gt_5 = 27.5
mfd_b_value = 1.033
mfd_transition_mag = 9.15
mfd_uncertainty_weight = 1e4
mfd_uncertainty_power = 0
selection_interval_secs = 1
threads_per_selector = 4
averaging_threads = 4
averaging_interval_secs = 30
non_negativity_function = TRY_ZERO_RATES_OFTEN
perturbation_function = EXPONENTIAL_SCALE
scaling_relationship = SMPL_NZ_INT_LW
scaling_recalc_mag = True

[Metrics]
total_ruptures = 23675
perturbed_ruptures = 340
